#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.containBtnIntro{
  gap: 20px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.buttomIntro {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 200px;
  padding: 20px;
  border: 3px solid #a4a4a4;
  border-radius: 10px;
  transition: all 0.3s;
}

.buttomIntro:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #ffffff;
}