.container-question{
	text-align: left;
	margin: 15px;
}

.question{
	padding: 20px;
	margin: 0px;
	background-color: rgb(13, 125, 135);
	font-size: 1.1em;
	opacity: 1;
	color: white;
	text-align: left;
}

.answer{
	transform: translateY(0px);
	padding: 20px;
	margin: 0px;
	background-color: rgb(13, 125, 135);
	opacity: 1;
	color: rgb(205, 205, 205);
	text-align: left;
	transition: all 1s;
}

h3 {
	font-size: 2em;
	line-height: 1.1;
	color: rgb(255, 255, 255);
  }
  
  @media (min-width: 600px) {
	h3 {
	  font-size: 4em;
	}
  }
  
  @media (min-width: 700px) {
	h3 {
	  font-size: 5em;
	}
  }
  
  @media (min-width: 1100px) {
	h3 {
	  font-size: 4em;
	}
  }
  
  @media (min-width: 1300px) {
	h3 {
	  font-size: 5em;
	}
  }  
